.grid-highlights {
  background-color: #F8F9Fa;
}

.grid-highlights .highlight-body :last-child {
  margin-bottom: 0;
}

.grid-highlights .tagline {
  text-transform: uppercase;
  color: #888;
  font-weight: 600;
}

