// Shorthands to help writing easier to understand code.

@mixin font-face(
  $family,
  $file,
  $weight: 'normal',
  $style: 'normal',
  $woff2: true,
  $base-path: '../assets/fonts/'
) {
  @font-face {
    font-display: swap;
    font-family: $family;
    font-style: unquote($style);
    font-weight: unquote($weight);
    @if $woff2 {
      src: url($base-path+$file+'.woff2') format('woff2'),
        url($base-path+$file+'.woff') format('woff');
    } @else {
      src: url($base-path+$file+'.woff') format('woff');
    }
  }
}

@mixin center(
  $max-width: $container-max-width,
  $padding: $container-padding-mobile
) {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
  padding-left: $padding;
  padding-right: $padding;
}

@mixin reset-content-margins($direction: 'both') {
  @if ($direction == 'both' or $direction == 'top') {
    > :first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }

  @if ($direction == 'both' or $direction == 'bottom') {
    > :last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

@mixin reset-list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
* Grid Mixin
*
* Applies a flexbox grid to a container element. All direct children will be modified to create a column based grid.
*/
@mixin grid(
  $columns,
  $alignment: flex-start,
  $gutter-horizontal: $gutter-width,
  $gutter-vertical: $gutter-width
) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $alignment;
  width: 100%;

  > * {
    width: calc((#{100% / $columns}) -
    (#{$columns - 1} / #{$columns} * #{$gutter-horizontal}));

    &:nth-child(n) {
      margin-right: $gutter-horizontal;
      margin-top: 0;
    }

    &:nth-child(1n + #{$columns + 1}) {
      margin-top: $gutter-vertical;
    }

    &:nth-child(#{$columns}n) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@mixin reset-grid {
  display: block;

  > * {
    width: auto;

    &:nth-child(n) {
      margin-right: 0;
      margin-top: 0;
    }
  }
}

@mixin custom-gform {
  .gform_wrapper .gfield_checkbox li label {
    padding-left: 1.5rem;
    padding-bottom: 1px;
    font-weight: normal;
    font-size: 12px;
  }

  .gform_wrapper .gform_footer > input.gform_button,
  .gform_wrapper.gf_browser_ie .gform_footer > input.gform_button {
    border-radius: 9999px;
    border: none;
    background-image: linear-gradient(90deg, #3CBFFF 0%, #BC4EB8 100%);
    color: #FFF;
    letter-spacing: 0.06rem;
    padding: 11px 15px;
    min-height: 50px !important;
    line-height: inherit !important;

    @include media-breakpoint-up(lg) {
      padding: 11px 24px !important;
    }
    @include media-breakpoint-up(xl) {
      padding: 11px 42px !important;
    }
    @include media-breakpoint-down(sm) {
      padding: 7px 15px;
      min-height: 35px !important;
    }
  }

  .gform_wrapper .ginput_container_email {
    margin-right: 50px;
  }

  .gform_wrapper .ginput_container_email > input {
    margin-bottom: 0;
    padding-left: 15px !important;
    border-radius: 9999px;
    border: 2px solid #3CBFFF;
    min-height: 50px !important;
    line-height: inherit !important;
    @include media-breakpoint-down(sm) {
      min-height: 35px !important;
    }
  }

  .gform_wrapper a {
    color: inherit;
    text-decoration: underline;
  }

  .gform_wrapper ul li.field_description_below div.ginput_container_checkbox {
    margin-top: 0;
  }

  .gform_wrapper:not(.gform_validation_error) {
    position: relative;

    .gform_footer {
      width: auto;
      position: absolute;
      top: 12px;
      right: 0;
      padding: 0;
      margin: 0;
    }
  }

  .gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
  .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
  .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 6px;
  }

  .gform_confirmation_message {
    color: #B6D12A;
    margin-top: 15px;
  }

  .gform_ajax_spinner {
    display: none !important;
  }

  // ERRORS -------

  .gform_wrapper div.validation_error {
    display: none;
  }

  .gform_wrapper li.gfield.gfield_error {
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
  }

  .gform_wrapper .validation_message {
    color: #F00;
    padding-top: 0 !important;
  }

  .gform_wrapper li.gfield.gfield_error {
    border-top: none;
    border-bottom: none;
  }

  .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
  .gform_wrapper li.gfield_error textarea {
    border: 1px solid #F00;
  }

  @media only screen and (min-width: 641px) {
    .gform_validation_error ul.gform_fields li.gfield_error {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

@mixin custom-hubspot-form {
  form { position: relative; }
  .hs-email label { display: none; }
  .hs-error-msgs label { display: inline-block; }

  .hs-error-msgs { color: $error; }

  input[type=email] {
    width: 100%;
    border: none;
    border-bottom: 2px solid #FFF;
    background-color: transparent;
    margin-bottom: 25px;
    @include media-breakpoint-up(md) { width: 50%; }

    &::placeholder { 
      text-align: center; 
      letter-spacing: 0.03em;
      font-weight: 100;
      @include media-breakpoint-up(md) { font-size: 18px; }
    }
  }

  input[type=submit] {
    background: radial-gradient(100% 1459.24% at 0% 50%, #7ECAD1 0%, #455B77 100%), #7ECAD1;
    border: none;
    border-radius: 9999px;
    box-shadow: none;
    color: $color-button;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    outline: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
    user-select: none;
    font-size: 1.5625rem;
    width: 100%;
    padding: 14px 20px 17px;

    @include media-breakpoint-up(md) {
      position: absolute;
      top: 0;
      right: 0;
      width: 45%;
      font-size: 1rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 1.5625rem;
    }

    &:disabled,
    &--disabled {
      cursor: default;
      opacity: 0.65;
      pointer-events: none;
    }

    &:hover,
    &:focus {
      background-color: $color-button-bg-dark;
      border-color: $color-button-bg-dark;
      color: $color-button;
      text-decoration: none;
    }
  }

  .inputs-list { padding-left: 0; }

  .hs-form-booleancheckbox {
    display: block;
    text-align: center;
  }

  .hs-form-booleancheckbox input[type=checkbox] {
    opacity: 1;
    width: auto;
    pointer-events: all;
    position: relative;
    margin-right: 10px;
    margin-bottom: 0px;
  }

  .hs-form-booleancheckbox label {
    font-weight: 100;
    font-size: 0.9375rem;
    line-height: 1.2;
    a { color: inherit; }
    strong { font-weight: bold; }
  }

}

