$breakpoint-mobile-horizontal: 480px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-horizontal: 1024px;
$breakpoint-desktop: 1280px;
$breakpoint-desktop-wide: 1440px;

$container-max-width: 1440px;
$container-padding-desktop: 60px;
$container-padding-tablet: 40px;
$container-padding-mobile: 15px;
$content-max-width: 600px;
$component-spacing-desktop: 120px;
$component-spacing-tablet: 80px;
$component-spacing-mobile: 40px;
$gutter-width: 24px;

$color-brand: #0D8EFF;
$color-accent: #0D8EFF;
$color-background: #FFF;
$color-contrast: #414751;
$color-text: $color-contrast;
$color-headline: #0B1016;
$color-border: #D8D8D8;

$color-background-light: #F2F6FE;
$color-background-dark: #091A41;
$color-background-hero: $color-brand;

$heading-selectors: 'h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6';
$input-selectors: '[type="tel"], [type="url"], [type="text"], [type="date"], [type="email"], [type="search"], [type="number"], [type="password"], textarea, select';

/* END FLYNT VARIABLES */

$max-page-width: 1680px;
$gutter-color: #DDD;

// colors
$error: #FE5F5F;
$color-button: #FFF;
$color-button-bg: #EFEFEF;
$color-button-bg-dark: #C5C5C5;



