<div class="navigation-header-single-page">
  <nav class="navbar navbar-expand-md">

    <a class="navbar-brand navbar-logo pass-params" href="/">
      <img class="logo" src="{{ logo.src }}" alt="logo"/> 
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item back-home">
          <a class="nav-link pass-params" href="/">{{ back_text }}</a>
        </li>

      </ul>
    </div>

  </nav>
</div>

